<!DOCTYPE html> 
<html lang="pt-br">

<head> 
    <meta charset="UTF-8"/>
        <title>Minhas grandes férias</title>
		<link href="style/style.css" rel="stylesheet"/>
</head>
	
<body>
		<header>
            <h1>Minhas férias</h1>
        </header> 
		
        <header>
            <h2>O início</h2>
        </header>


        <article>
        <header>
            <h3>Assisti coisas com o Tiago</h3>
        </header>
        <main>
		
            <p> Assisti a melhor série do universo com o Tiago por call! Conseguimos ver uma temporada inteira nas férias (talvez até mais. Na real eu não lembro. Atualmente já estamos na quarta, o que me faz questionar o vício. É a quarta vez que eu assisto isso também.).</p>
			<iframe width="520" height="320" src="https://www.youtube.com/embed/8lguc5Ota4U">
			</iframe>

			<p> Eu também assisti anime pela primeira vez na vida. Foi surpreendentemente legal. (Quem sou eu??? Fui convertida???)</p>
			<img src ="yourname.jpg" alt="Your Name" style="height:200px";/>
			<img src ="erased.jpg" alt="Your Name" style="height:200px";/>
        </main>
        </article>
		
		 <article>
        <header>
            <h3> Fiquei atlética </h3>
        </header>
        <main>
            <p> Voltei a andar de patins e bicicleta. Não sou mais tão sedentária, yayyyy.</p>
			<img src ="giphy.gif" alt="Patins!";/>
			<table>
			<tr>
				<th >Patins</th>
				<th>Bicicleta</th>
			</tr>
			<tr>
				<td class="bad_class">Umas 5 quedas</td>
				<td class="good_class">0 quedas!</td>
			</tr>
			<tr>
				<td class="bad_class">Pouco útil</td>
				<td class="good_class">Bastante prática!</td>
			</tr>
			<tr>
				<td class="good_class">Divertido!</td>
				<td class="bad_class">Meh.</td>
			</tr>
			</table>
        </main>
        </article>
		
        <header>
            <h2>O fim</h2>
        </header>


        <article>
        <header>
            <h3>Fui pra megalópole brasileira</h3>
        </header>
        <main>
            <p> Fui para o fim de mundo chamado Bom Jardim. Em geral lá só tem mato.</p>
			<p id="nick_id">E o Nick!!! </p>
			<img src ="nick.jpeg" alt="cachorro mais fofo ever" style="height:400px";/>
        </main>
        </article>
		
		 <article>
        <header>
            <h3> Assisti às Olimpíadas </h3>
        </header>
        <main>
            <p> Também no Discord assisti aos jogos de Tokyo com meus amigos do CP2 e agregados. Assistimos: </p>
			<ul>
				<li>Skate Park</li>
				<li>Vôlei de quadra</li>
				<li>Polo Aquático</li>
				<li>Canoagem Slalom</li>
			</ul>
			<p> Fato que não tem a ver com as férias: estou com muita saudade dos meus amigos do ensino médio :( </p>
		<nav>
            <a href="https://pt.quizur.com/quiz/quem-e-vc-no-mundo-das-burguesas-3hfy">Descubra aqui quem é você dentro do grupinho!</a>

        </nav>
			
			<footer>Copyright &copy; Carol Erthal</footer>
        </main>
        </article>
		
</body>

</html>