<!DOCTYPE html> 
<html lang="pt-br">

<head> 
    <meta charset="UTF-8"/>
        <title>Minhas grandes futuras férias</title>
</head>
	
<body>
		<header>
            <h1>Minhas futuras férias</h1>
        </header> 
		
        <header>
            <h2>O que farei?</h2>
        </header>


        <article>
        <header>
            <h3>Nada</h3>
        </header>
        <main>
		
            <p> Nada aqui </p>
        </main>
        </article>
		
		 <article>
        <main>
            <p> Algo </p>
			<p> Algo será feito </p>
			
			<footer>Copyright &copy; Carol Erthal</footer>
        </main>
        </article>
		
</body>

</html>