<!DOCTYPE html> 
<html lang="pt-br">

<head> 
    <meta charset="UTF-8"/>
        <title>Quero férias agora</title>
</head>
	
<body>
		<header>
            <h1>Minhas desejadíssimas férias</h1>
        </header> 
		
        <header>
            <h2>AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h2>
        </header>


        <article>
        <header>
            <h3>Preciso delas agora</h3>
        </header>
        <main>
		
            <p> Sim, isso é um pedido de socorro </p>
        </main>
        </article>
		
		 <article>
			<footer>Copyright &copy; Carol Erthal</footer>
        </main>
        </article>
		
</body>

</html>