{% extends "pagina_dinamica.html"%}

{% block estilo %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

{% block cabecalho %}
    <header>
        <h3>
            Python web
        </h3>
    </header>
{% endblock %}

{% block conteudo %}
    <h1>{{nome|add:" "|add:sobrenome|title}}</h1>
    <p>Tamanho do nome: {{nome|add:" "|add:sobrenome|length}} caracteres.</p>
    {% for letra in nome|add:" "|add:sobrenome %}
        <p>{{letra|upper}}</p>
    {% endfor %}
{% endblock %}

{% block relogio %}
    <p>
        Data: {{data_hora.0}}
    </p>
    <p>
        Hora: {{data_hora.1}}
    </p>
{% endblock %}